.App {
  text-align: center;
  background-color: rgb(51, 51, 115); /* Navy blue background */
  color: white; /* White text color */
  height: 100vh; /* 100% viewport height */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-logo {
  height: 50em;
  pointer-events: none;
}


.App-header {
  height: 65vmin;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align the headers to the left */
}

h1 {
  font-size: 100px;
}

h4 {
  font-size: 20px;
}


button {
  background-color: rgba(45, 189, 88, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
